.App-banniere {
  width: 100%;
}
.h1 {
  color: #33484b;
  font: 46px, Catamaran, sans-serif;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
}

.bloc {
  font-family: Catamaran, sans-serif;
  font-size: 18px;
}

.descriptif {
  color: #33484b;
  font: 15px, Catamaran, sans-serif;
  padding-left: 15em;
  padding-right: 15em;
  text-align: center;
}
.tableau-horaire {
  position: absolute;
  left: 40%;
}

@media only screen and (max-width: 800px) {
  h1 {
    color: #33484b;
    font: 46px, Catamaran, sans-serif;
    padding-top: 10px;
  }
  .descriptif {
    color: #33484b;
    font: 15px, Catamaran, sans-serif;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
  }
  .tableau-horaire {
      left: 15%
  }
}
