.image{
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


@media (min-width: 500px){
.container {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense; 
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1;
  }

}

@media (max-width: 500px){
  .container {
      display: grid;
      grid-auto-columns: max-content;
      grid-auto-flow: dense; 
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      
    }
    .grid-item {
      grid-column: span 1;
      grid-row: span 1;
    }
  
  }
  .pagination {
    margin: 10px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }